[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
colorthief = "*"
unidecode = "*"
"discord.py" = {git = "git://github.com/Rapptz/discord.py", editable = true, ref = "rewrite"}

[dev-packages]

[requires]
python_version = "3.6"
