[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
unidecode = "*"
requests = "*"
pillow = "*"
pymongo = "*"
fuzzywuzzy = "*"
selenium = "*"

[dev-packages]

[requires]
python_full_version = "3.6.8"
