[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple"
verify_ssl = true
name = "anaconda"

[packages]
"discord.py" = "*"
peewee = "*"
peewee-migrate = "*"
pillow = "*"
fuzzywuzzy = "*"
unidecode = "*"
levenshtein = "*"
tzdata = "*"
typer = "*"
aiopokeapi = "*"
tqdm = "*"
scikit-image = {version = "*", index = "anaconda"}

[requires]
python_version = "3"

[dev-packages]
pyhyphen = "*"
