aiohttp==2.2.5
async-timeout==2.0.1
certifi==2018.1.18
chardet==3.0.4
colorthief==0.2.1
-e git://github.com/Rapptz/discord.py@eb5defed007bfb694808258a38277bff2fddcfd1#egg=discord.py
idna==2.6
multidict==4.1.0
Pillow==5.0.0
requests==2.18.4
Unidecode==1.0.22
urllib3==1.22
websockets==4.0.1
yarl==1.1.1
